.hero {
  position: relative;
  height: 80vh; /* Full height of the viewport */
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(252, 251, 251); /* Text color */
  text-align: center; /* Center text */
}

.filmstrip-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%; /* Scale to cover full width */
  min-height: 100%; /* Scale to cover full height */
  width: auto;
  height: auto;
  z-index: 1; /* Send video behind text */
  transform: translate(-50%, -50%); /* Center the video */
}

explore-button:hover {
  background-color: rgba(255, 87, 34, 1); /* Change color on hover */
}

.overlay {
  position: relative;
  z-index: 4; /* Bring overlay in front of video */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for contrast */
  padding: 20px; /* Padding around text */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

h1 {
  font-size: 3rem; /* Adjust heading size */
  margin-bottom: 10px; /* Space below heading */
}

p {
  font-size: 1.5rem; /* Adjust paragraph size */
}
